@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter", sans-serif;
}

.from-compt-gred {
  --tw-gradient-from: #fe8540 var(--tw-gradient-from-position);
  --tw-gradient-to: #df6472 var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.from-compt-trans {
  --tw-gradient-from: #fe8540 var(--tw-gradient-from-position);
  --tw-gradient-to: rgba(0, 0, 0, 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.transp {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
}

.transp2 {
  background-color: rgba(254, 133, 62, 0.2);
  backdrop-filter: blur(20px);
}

.prime-color {
  color: #fe853e; /*prime 1*/
  color: #df6472; /*prime 2*/
  color: #02030e; /*dark backgroun*/
  color: #dfe3fb; /*text for dark*/
  color: #040f15; /*text for light*/
  color: #ececee; /*secondary 1*/
}

@layer components {
  .btn-base-styl {
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 0.5rem;
  }

  .btn-prime {
    background-color: #fe8540;
    color: white;
  }

  .btn-second {
    border: 1px solid #df6472;
  }

  .input-second {
    padding: 0.5rem 1.5rem;
    border-radius: 1rem;
    border: 1px solid #df6472;
  }

  .input-second:focus-visible {
    border: 2px solid #df6472;
    outline: none;
  }

  .card {
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(20px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    padding: 1.25rem;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.1);
  }
}

@layer utilities {
  .actvie {
    color: #fe8540;
    font-weight: 700;
  }

  .active-btn {
    background-color: #fe8540;
    color: white;
  }

  .disable {
    cursor: default;
    opacity: 0.8;
  }

  .min-h-h2 {
    min-height: 80vh;
  }

  .trans-text {
    background-image: linear-gradient(to right, #fe853e, #df6472);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
}
